# Author: Ben Templeman (alphanu1)
# Date:   2026-07-17
# CRTPi kernel fragment (applied on top of the rpi4 defconfig)
CONFIG_DRM=y
CONFIG_DRM_VC4=y
CONFIG_DRM_PANEL_SIMPLE=y
# USB gadget stack
CONFIG_USB_DWC2=y
CONFIG_USB_DWC2_DUAL_ROLE=y
CONFIG_USB_GADGET=y
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_F_FS=y
# debugfs for PLL clock readback
CONFIG_DEBUG_FS=y
